button {
  display: none;
}

.cite-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cite-list__item {
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  line-height: 40px;
  text-align: center;
  background-color: #81b3d2;
}

.cite-list__item:hover {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  background-color: #669ec0;
}

.cite-list__link {
  color: #ffffff;
  font-family: "PT Sans Bold", Arial, sans-serif;
  line-height: 26px;
  font-size: 18px;
  text-decoration: none;
}

.cite-list__logo {
  display: block;
}

.cite-list__logo-image {
  display: block;
}

@media (min-width: 501px) {
  .cite-list {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .cite-list__item {
    background-color: #ffffff;
  }
  
  .cite-list__link {
    color: #000000;
  }
  
  .cite-list__logo-image {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
  }
}
