button {
  display: none;
}

.cite-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cite-list__item {
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  line-height: 40px;
  text-align: center;
  background-color: #81b3d2;
}

.cite-list__item:hover {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  background-color: #669ec0;
}

.cite-list__link {
  color: #ffffff;
  font-family: "PT Sans Bold", Arial, sans-serif;
  line-height: 26px;
  font-size: 18px;
  text-decoration: none;
}

.cite-list__logo-image {
  display: block;
}
