.copyrights {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.copyrights__text {
  display: inline-block;
  margin-right: 11px;
}

.copyrights__link {
  display: inline-block;
}

.copyrights__image {
  vertical-align: middle;
}

@media (min-width: 500px) {
  .copyrights {
    margin: 0;
    padding: 0;
  }
}
