.page-footer {
  margin-top: 36px;
  text-align: center;
  background-color: #fefefe;
}

.page-footer__hashtag {
  margin: 0;
  padding: 0;
  line-height: 26px;
  font-size: 21px;
}

@media (min-width: 500px) {
  .page-footer {
    display: flex;
    padding: 35px 0;
    align-items: center;
    justify-content: space-around;
  }
}
