.page-main__title {
  margin: 0;
  margin-top: 37px;
  padding: 0 30px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
}

.page-main__promo {
  margin-top: 27px;
  padding: 0 30px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
}
