.social-links {
  display: flex;
  max-width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-top: 34px;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

.social-links__item {
  margin: 3px 3px;
  width: 46px;
  height: 48px;
  background-color: @highlighting-color;

  &:hover,
  :focus {
    background-color: @hover-button-color;
  }

  &:active {
    background-color: @down-button-color;
  }
}

.social-links__link {
  line-height: 48px;
  display: block;
}

.social-links__image {
  vertical-align: middle;
}

.social-links__link:active {
  opacity: 0.3;
}

@media (min-width: 500px) {
  .social-links {
    margin: 0;
    padding: 0;
    padding-right: 11px;
    max-width: none;
  }
}
