body {
  background: url("../img/preview/sedona-index-mobile.jpg") no-repeat 50% 0;
  opacity: 0.6;
  /* width: 320px;*/
  /* min-height: 3610px;*/
}

@media (min-width: 501px) {
  body {
    background: url("../img/preview/sedona-index-tablet.jpg") no-repeat 50% 0;
    /*width: 768px;*/
  }
}

@media (min-width: 769px) {
  body {
    background: url("../img/preview/sedona-index-desktop.jpg") no-repeat 50% 0;
    width: 1200px;
  }
}
